{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RK FoodStop</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">RKFoodStop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'base' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                {% endif %}

                {% else %}
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                {% endif %}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile' request.user.id %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>

        <!-- Search form -->
        <form action="{% url 'search_item' %}" method="post" class="form-inline my-2 my-lg-0">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search item" aria-label="Search" name="query_item">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Content -->
{% if not request.user.is_authenticated %}
<div class="container">
    <h2>You are not logged in.</h2>
    <p class="text-danger">Please login here: <a href="{% url 'login' %}">Login</a></p>
</div>
{% else %}
<div class="container">

    <!-- Breakfast Section -->
    <div class="menu-section">
        <h2>
            <a class="btn btn-primary" data-toggle="collapse" href="#breakfastMenu" role="button" aria-expanded="false" aria-controls="breakfastMenu">
                Breakfast Menu
            </a>
        </h2>
        {% for item in menu_items %}
        {% if item.menu.menu_title|lower == "breakfast" %}
        <div class="collapse" id="breakfastMenu">
            <div class="menu">
                <div class="menu-item">
                    <a href="#">
                        <h3>{{item.name}}</h3>
                        <img src="{{item.image.url}}" alt="Pancakes">
                        <p>{{item.description }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Lunch Section -->
    <div class="menu-section">
        <h2>
            <a class="btn btn-primary" data-toggle="collapse" href="#lunchMenu" role="button" aria-expanded="false" aria-controls="lunchMenu">
                Lunch Menu
            </a>
        </h2>
        {% for item in menu_items %}
        {% if item.menu.menu_title|lower == "lunch" %}
        <div class="collapse" id="lunchMenu">
            <div class="menu">
                <div class="menu-item">
                    <a href="#">
                        <h3>{{item.name}}</h3>
                        <img src="{{item.image.url}}" alt="Pancakes">
                        <p>{{item.description }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Dinner Section -->
    <div class="menu-section">
        <h2>
            <a class="btn btn-primary" data-toggle="collapse" href="#dinnerMenu" role="button" aria-expanded="false" aria-controls="dinnerMenu">
                Dinner Menu
            </a>
        </h2>
        {% for item in menu_items %}
        {% if item.menu.menu_title|lower == "dinner" %}
        <div class="collapse" id="dinnerMenu">
            <div class="menu">
                <div class="menu-item">
                    <a href="#">
                        <h3>{{item.name}}</h3>
                        <img src="{{item.image.url}}" alt="Pancakes">
                        <p>{{item.description }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>

</div>
{% endif %}

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>
